/* ==UserStyle==
@name           nin0wiki material dark
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    material dark theme for nin0wiki
@author         Meow! Zander :3
==/UserStyle== */
@-moz-document url-prefix("https://wiki.nin0.dev") {
	body,
	li,
	form,
	textarea,
	input,
	select,
	table,
	figure,
	figcaption,
	#toc,
	#mw-head,
	#content,
	.vector-menu-tabs-legacy .selected,
	.oo-ui-tabSelectWidget-framed,
	.oo-ui-dropdownWidget-handle,
	.mw-htmlform-submit-buttons,
	[class=oo-ui-labelElement-label],
	[id*="ooui-php"],
	#oo-ui-buttonWidget,
	.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
	.editOptions,
	[id*="Textbox"],
	.mw-message-box-warning,
	.oo-ui-messageDialog-container,
	.mw-changeslist-legend,
	.mw-rcfilters-ui-filterTagMultiselectWidget.oo-ui-widget-enabled .oo-ui-tagMultiselectWidget-handle,
	.mw-rcfilters-ui-cell,
	.oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button,
	.catlinks,
	.my-8.bg-gradient-gray,
	.code-label,
	.oo-ui-window-content.oo-ui-dialog-content.oo-ui-processDialog-content.oo-ui-window-content-setup.oo-ui-window-content-ready,
	.ve-ui-mwSaveDialog-options,
	.ext-WikiEditor-ResizingDragBar,
	.wikiEditor-ui-toolbar,
	#mw-notification-area {
		background-color: black !important;
		background-image: none !important;
	}

	.oo-ui-textInputWidget .oo-ui-inputWidget-input {
		background-color: #000;
		color: #fff;
	}
	.vector-search-box-input {
		background-color: rgba(0, 0, 0, 0.5);
		color: #000;
		width: 100%;
		height: 2.15384615em;
		box-sizing: border-box;
		border: 1px solid #a2a9b1;
		border-radius: 2px;
		padding: 5px 2.15384615em 5px 0.4em;
		box-shadow: inset 0 0 0 1px transparent;
		font-family: inherit;
		direction: ltr;
		transition-property: border-color, box-shadow;
		transition-duration: 250ms;
		-webkit-appearance: none;
		-moz-appearance: textfield;
	}
	body,
	span,
	h1,
	h2,
	h3,
	h4,
	label,
	p,
	li,
	text,
	table,
	figure,
	.oo-ui-window-content.oo-ui-dialog-content.oo-ui-processDialog-content.oo-ui-window-content-setup.oo-ui-window-content-ready {
		color: white !important;
	}
	#p-namespaces {
		background-color: transparent;
		outline: 1px solid white;
	}
	#footer-icons {
		visibility: hidden;
	}
	* {
		color: white;
		/* Change all text to white */
	}
	#mw-head {
		outline: 1px solid white;
	}
	.oo-ui-iconElement-icon.oo-ui-icon-close::before {
		content: "X";
		color: white;
		z-index: 9999999;
		position: absolute;
		left: 3px;
		top: 9px;
		font-size: 20px;
	}
	.oo-ui-windowManager-modal > .oo-ui-dialog {
		background-color: rgba(0, 0, 0, 0.75);
	}
	.oo-ui-iconElement-icon.oo-ui-icon-image {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3Eimage%3C/title%3E%3Cpath fill='white' d='M2 2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-.17 13 4.09-5.25 2.92 3.51L12.92 8l5.25 7z'/%3E%3C/svg%3E");
	}
	.oo-ui-icon-link,
	.mw-ui-icon-link::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 fill='white' viewBox=%220 0 20 20%22%3E%3Ctitle%3E link %3C/title%3E%3Cpath d=%22M4.83 15h2.91a4.9 4.9 0 0 1-1.55-2H5a3 3 0 1 1 0-6h3a3 3 0 0 1 2.82 4h2.1a5 5 0 0 0 .08-.83v-.34A4.83 4.83 0 0 0 8.17 5H4.83A4.83 4.83 0 0 0 0 9.83v.34A4.83 4.83 0 0 0 4.83 15%22/%3E%3Cpath d=%22M15.17 5h-2.91a4.9 4.9 0 0 1 1.55 2H15a3 3 0 1 1 0 6h-3a3 3 0 0 1-2.82-4h-2.1a5 5 0 0 0-.08.83v.34A4.83 4.83 0 0 0 11.83 15h3.34A4.83 4.83 0 0 0 20 10.17v-.34A4.83 4.83 0 0 0 15.17 5%22/%3E%3C/svg%3E");
	}
	.oo-ui-icon-signature,
	.mw-ui-icon-signature::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 fill='white' viewBox=%220 0 20 20%22%3E%3Ctitle%3E signature %3C/title%3E%3Cpath d=%22M0 18h20v1H0zm-.003-6.155 1.06-1.06 4.363 4.362-1.06 1.06z%22/%3E%3Cpath d=%22m.004 15.147 4.363-4.363 1.06 1.061-4.362 4.363zM17 5c0 9-11 9-11 9v-1.5s8 .5 9.5-6.5C16 4 15 2.5 14 2.5S11 4 10.75 10c-.08 2 .75 4.5 3.25 4.5 1.5 0 2-1 3.5-1a2.07 2.07 0 0 1 2.25 2.5h-1.5s.13-1-.5-1C16 15 16 16 14 16c0 0-4.75 0-4.75-6S12 1 14 1c.5 0 3 0 3 4%22/%3E%3C/svg%3E");
	}
	.oo-ui-icon-italic,
	.mw-ui-icon-italic::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 fill='white' viewBox=%220 0 20 20%22%3E%3Ctitle%3E italic %3C/title%3E%3Cpath d=%22m5 19 .33-1.51 2.17-.66 2.9-13.66-1.9-.63L9 1h7l-.71 1.6-2.29.57-2.83 13.66 2.14.66L12 19z%22/%3E%3C/svg%3E");
	}
	.oo-ui-icon-bold,
	.mw-ui-icon-bold::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 fill='white' viewBox=%220 0 20 20%22%3E%3Ctitle%3E bold %3C/title%3E%3Cpath d=%22M8.9 1c2.4 0 4.2.3 5.4 1 1.3.7 1.9 1.9 1.9 3.6 0 1-.3 1.9-.7 2.6a3 3 0 0 1-2 1.3 4.8 4.8 0 0 1 1.6.7c.4.3.8.8 1.1 1.3a5 5 0 0 1 .4 2.3 4.6 4.6 0 0 1-1.7 3.8A7.6 7.6 0 0 1 10 19H3.3V1zm.4 7.1c1.1 0 1.9-.1 2.3-.5.5-.3.7-.9.7-1.5 0-.7-.3-1.2-.8-1.5s-1.3-.5-2.4-.5h-2v4zm-2.2 3V16h2.5c1.1 0 2-.3 2.4-.7.5-.5.7-1 .7-1.8a2 2 0 0 0-.7-1.6c-.5-.4-1.3-.6-2.5-.6H7z%22/%3E%3C/svg%3E");
	}
}